.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2a003a;
  color: white;
}

.header a {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  transition: background-color 250ms ease;
}

.header a:hover,
.header a:focus,
.header a:active {
  background-color: #550c72;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navigation li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navigation li a:hover {
  color: #ddd;
}
