.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 16px 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  cursor: pointer;
  min-width: 36px;
  height: 36px;
  transition:
    background-color 250ms ease,
    color 250ms ease;
}

.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #2a003a;
  font-size: 14px;
}

.pagination li:hover {
  background-color: #fbf6f0;
}

.pagination li.active:hover {
  background-color: #fde3c9;
}

.active {
  background-color: #fde3c9;
  border-color: #fde3c9;
}

.active a {
  color: #2a003a !important;
  font-weight: 500;
}

.disabled {
  background-color: #dadada;
  cursor: not-allowed;
}
