.userEmail {
  color: white;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.logoutButton {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.logoutButton:hover {
  background-color: white;
  color: #333;
}

.navigationItem {
  display: flex;
  align-items: center;
}

.navigationLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navigationLink:hover {
  color: #ddd;
}
