.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #2a003a;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  box-shadow: 0px 1px 2px 0.5px #fafafa;
}

.notesWrapper {
  width: 100%;
}
